<h1>Leagues</h1>

<% if @leagues.present? %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @leagues.each do |league| %>
      <tr>
        <td><%= league.name %></td>
        <td><%= league.description %></td>
        <td><%= league.start_date.to_date %></td>
        <td><%= league.end_date.to_date %></td>
        <td><%= league.state %></td>
        <td><%= link_to 'Show', league %></td>
        <td><%= link_to 'Edit', edit_league_path(league) %></td>
        <td><%= link_to 'Destroy', league, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>
  <p> No leagues have been created yet... </p>
<% end %>

<br>

<%= link_to 'New League', new_league_path, :class => "button" %>
