<h2> League Details </h2>

<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %>

<p>
  <strong>Name:</strong>
  <%= @league.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @league.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @league.start_date.to_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @league.end_date.to_date %>
</p>

<h3> Teams </h3>

<% if @league_teams.any? %>
<table class="team-list">
  <% @league_teams.each do |t| %>
    <tr class="team-<%= t.id %>">
      <td><%= t.name %></td>
      <td><%= link_to 'remove', team_path(t), :class => 'remove-team',
                :method => :delete %></td>
    </tr>
  <% end %>
</table>
<% end %>

<%= form_for(@league.teams.new) do |f| %>
  <%= f.hidden_field :league_id %>
  <div class="row">
    <div class="medium-5 columns">
      <div class="row">
        <div class="medium-8 columns">
          <%= f.text_field :name, :placeholder => 'Team Name', :label => false %>
        </div>
        <div class="medium-4 columns">
          <%= f.submit 'Add Team' %>
        </div>
      </div>
    </div>
  </div>
<%- end %>

<%= link_to 'Start League', start_league_path(@league), :method => :put,
      :class => "button" %>
