
<h2> League Standings </h2>

<table>
  <tr>
    <th> Team Name </th>
    <th> Games Played </th>
    <th> Wins </th>
    <th> Losses </th>
    <th> Ties </th>
    <th> League Points </th>
  </tr>
  <% @league.teams.each do |t| %>
    <tr>
      <td><%= t.name %></td>
      <td><%= t.games_played %></td>
      <td><%= t.wins %></td>
      <td><%= t.losses %></td>
      <td><%= t.ties %></td>
      <td><%= t.league_points %></td>
    </tr>
  <% end %>
</table>

<em> Note: League points are calculated using (3*wins) + ties </em>


<h2> League Games </h2>

<table>
  <tr>
    <th> Home Team </th>
    <th> Away Team </th>
    <th> Home Team Score </th>
    <th> Away Team Score </th>
    <th> </th>
  </tr>
  <tr>
    <% @league.games.each do |g| %>
      <td><%= g.home_team.name %></td>
      <td><%= g.away_team.name %></td>
      <td><%= g.home_score %></td>
      <td><%= g.away_score %></td>
      <td> Edit </td>
    <% end %>
  </tr>
</table>
